@import "/app/colors.scss";
.iconWrapper {
    display: inline-block;
    position: relative;
}
.generalStyles {
    padding: 4px;
    cursor: pointer;
}

.whiteBackground {
    border-radius: 50%;
    background: $defaultWhite;
}   

.AddPlaylist {
    display: flex;
    justify-content: end;
    position: absolute;
    width: 340px;
    bottom: 50px;
    right: 12px;
}
