@import '/app/colors.scss';

.mainContent {
    display: flex;
    position: relative;
    background-color: $reversedGrey;
}

.AudioPlayer {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 2;
}