@import "/app/colors.scss";

////
.secondaryTitleDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondaryTitleDiv>h2 {
    color: $defaultWhite;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.secondaryTitleDiv>span {
    color: $missionControl;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;
}

//General Card Wrapper//
.generalCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0px;
}

.generalCardItem {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**/
.wholeWrapper {
    width: 100%;
    background: $background;

}

.container {
    width: 100%;
    padding: 40px 20px 24px 20px;
    background: $background;
    margin: 0 auto;
    max-width: 1152px;
}

.newsComponentWrapper {
    margin-top: 40px;
}

.musicCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.musicCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 16px;
}

