.container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.albumArt {
    flex-shrink: 0;
}

.titleWrapper {
    width: 190px;
    overflow: hidden;
    position: relative;
}

.authorTitle {
    white-space: nowrap;
    display: inline-block;
    color: #fff;
}

.scrolling {
    animation: scrollTitle 10s linear infinite;
}

@keyframes scrollTitle {
    0% {
        transform: translateX(100%); 
    }
    20% {
        transform: translateX(25%);
    }
    40% {
        transform: translateX(0%);
    }
    60% {
        transform: translateX(-25%); 
    }
    80% {
        transform: translateX(-50%); 
        }
    100% {
    transform: translateX(-100%); 
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.artist {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}

.img {
    border-radius: 8px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .titleWrapper {
        width: 150px;
    }

    .artist {
        font-size: 11px;
    }

    .img {
        width: 48px;
        height: 48px;
    }
}
