@import "/app/colors.scss";

////
.secondaryTitleDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondaryTitleDiv>h2 {
    color: $defaultWhite;
    font-family: var(--font-jakarta-sans);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.secondaryTitleDiv>span {
    color: $missionControl;
    font-family: var(--font-jakarta-sans);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;
}

//General Card Wrapper//
.generalCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0px;
}

.generalCardItem {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}
.generalCardItem > div > div > img {
    width: 100%;
    height: 200px;
}

/**/
.wholeWrapper {
    width: 100%;
    background: $background;

}

.container {
    width: 100%;
    padding: 40px 20px 24px 20px;
    background: $background;
    margin: 0 auto;
    max-width: 1152px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}

.newsComponentWrapper {
    margin-top: 40px;
}

.musicCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.musicCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 16px;
}
@media (max-width: 1150px) {
    .generalCardItem > div > div > img {
        height: 170px;
    }
}


@media (max-width: 720px) {
    .generalCardItem {
        overflow-x: scroll;
    }
    .generalCardItem::-webkit-scrollbar {
        display: none;
    }   
}

@media (max-width:600px) {
    .musicCards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 375px) {
    .container {
        padding: 40px 16px 24px 16px;
    }
}


@media (max-width: 900px) {
    .generalCardItem > div {
        min-width: 154px;
        padding: 8px;
    }
    .newsComponentWrapper > div {
        height: 291px;
    }
}

@media (max-width: 600px) {
    .generalCardItem > div {
        min-width: 253px;
    }
}
@media (max-width: 500px) {
    .newsComponentWrapper > div {
        height: 197px;
    }
}