
@import "/app/colors.scss";
.recomendationPage {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 36px;
    margin-left: 20px;
    margin: 0 auto;
}
.generalCardItem{
    display: flex;
    gap: 16px;
}
.secondaryTitleDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.secondaryTitleDiv {
  font-family: var(--font-jakarta-sans);
  color: $defaultWhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.secondaryTitleDiv span {
    color: $missionControl;
    font-size: 14px;
    font-family: var(--font-jakarta-sans);
}
.secondaryTitleDiv h2 {
    font-size: 20px;
}
.generalCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;

}
