@import "/app/colors.scss";

.container {
    background: $gradientApolo;
    border-radius: 8px;
    display: flex;
    gap: 4px;
    padding: 12px 20px;
    justify-content: center;
    color: $defaultWhite; 
    border: none;
    cursor: pointer;
    transition: 1s;
    
    &:hover {
        border-radius: 10px;
        background: $gradientApoloHover;
        color: $defaultWhite; 
    }

    &:active {
        background-color: $gradientApolo; 
        color: $defaultWhite;
    }

    &.disabled {
        background: $dynamicBlack; 
        color: $stoneCold; 
        cursor: not-allowed; 
        border: none;
    }  
}

