@import "../../../colors.scss";

/* || page layout */

.containerWrapper{
    display: flex;
    // grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    // width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}


.container {
    display: flex;
    width: 100%;
    background-color: $background;
}

/* || page children elements */

.childrenContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    padding: 24px;
}


/* || search bar */

.searchLayout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* || H1 Css */

.header{
    font-size: 32px;
    font-family: var(--font-jakarta-sans);
    font-weight: 500;
    color: $defaultWhite;
}