@import "/app/colors.scss";

.container {
    width: 100%;
    padding: 40px 24px;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100vh;
}

.defaultPage {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    font-size: 32px;
    font-family: var(--font-jakarta-sans);
    font-weight: 500;
    color: $defaultWhite;
}

.searchLayout {
    display: flex;
    gap: 24px;
    justify-content: end;
}

.mainTitleWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.containerWrapper {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    align-items: center;
}

.searchLayout > :nth-child(1) {
    height: 100%;
}

.childrenContainer {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modalContent {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 200;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .containerWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .containerWrapper {
        padding: 8px;
    }
}

@media (max-width: 660px) {
    .containerWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .modalContent {
        padding: 16px;
        max-width: 90%;
    }
}
