@import "../../colors.scss";

/* || component layout */

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background-color: $darkVoid;
<<<<<<< Updated upstream
    max-width: 270px;
    width: 100%;
    align-items: flex-start;
    border-radius: 8px;
=======
    max-width: 266px;
    max-height: 306px;
    width: 100%;
    align-items: flex-start;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
>>>>>>> Stashed changes
}

/* || paragraph Css */

.paragraph{
    font-size: 14px;
<<<<<<< Updated upstream
    color: $shadyLady;
=======
    font-family: var(--font-jakarta-suns);
    font-weight: 600;
    color: $shadyLady;
}

/* || icon styles */

.icons{
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
}

/* || icon opacity */

.opacity{
    opacity: 0;
}

.container:hover{
    transition: 1s;
    .opacity{
        opacity: 1;
        transition: 1s;
    }
>>>>>>> Stashed changes
}