@import "../../colors.scss";

/* || component layout */

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background-color: $darkVoid;
    border-radius: 8px;
    max-width: 266px;
    max-height: 309px;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
}

.containerBox{
    display: flex;
    max-width: 310px;
    flex-grow: 1;
}

.image{
    max-width: 234px;
    max-height: 251px;
    display: flex;
    flex-grow: 1;
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .container{
        max-width: 158px;
        max-height: 184px;
    }
    .image{
        max-width: 142px;
        max-height: 142px;
    }
}

@media screen and (max-width: 767px){
    .container{
        max-width: 164px;
        max-height: 184px;
    }
    .image{
        max-width: 148px;
        max-height: 142px;
    }
}

/* || paragraph Css */

.paragraph{
    font-size: 14px;
    color: $shadyLady;
    font-family: var(--font-jakarta-suns);
    font-weight: 600;
    color: $shadyLady;
}

/* || icon styles */

.icons{
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
}

/* || icon opacity */

.opacity{
    opacity: 0;
}

.container:hover{
    transition: 1s;
    .opacity{
        opacity: 1;
        transition: 1s;
    }
}