@import '/app/colors.scss';


@media (max-width: 490px) {

    .mobileAudioPlayer {
        display: flex;
        flex-direction: column-reverse;
    }

    .innerMobile {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: $background;
        top: 100vh;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        transform: translatey(-100vh);
        transition: 0.2s;
    }

    .mobileAudioInfo {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100vw;
        align-items: center;
    }

    .mobileAudioImage {
        max-width: 343px;
        max-height: 438px;
        height: 55vh;
        width: 65vw;
    }

    .mobileAudioImage img {
        height: 100%;
        width: 100%;

    }

    .mobileHeader {
        width: 100vw;
        height: 70px;
        background: $background;
    }
    
    .random {
        width: 400px;
        height: 400px;
    }
    
    .mobileVersionLayout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 24px;
    }
    
    .downArr {
        width: 25px;
    }

    .mobileAudioTitle {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 315px;
        width: 100%;
    }
    
    .mobileAudioTitle div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .mobileProgress {
        display: flex;
        align-items: center;
        max-width: 370px;
        width: 100%;
        justify-content: space-around;
    }

    .mobileProgress input[type="range"] {
        max-width: 231px;
        width: 100%;
    }

    .mobileProgress span {
        width: 50px;
    }

    .mobileAudioProgressBar {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 18px;
        gap: 16px;
    }

    .mobileButto {
        display: block;
    }

    .mobileControlsWrapper {
        display: flex;
        max-width: 319px;
        width: 100%;
    }

    .mobileButto svg {
        font-size: 24px;
    }

    .mobileControlsPlayPause svg {
        font-size: 48px;
    }

    .mobileIconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $mobileDefaultImg;
    }
}
