@import "/app/colors.scss";

.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 8px;
    background: $darkVoid;
    padding: 16px;
    max-width: 548px;
    width: 100%;
}

.cardImg {
    cursor: pointer;
}

.cardinfo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.cardinfo>img{
    object-fit: cover;
    border-radius: 10px;
}
.cardTitles {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardTitles h3 {
    color: $defaultWhite;
    font-family: var(--font-jakarta-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cardTitles span {
    color: $shadyLady;
    font-family: var(--font-jakarta-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cardAditionalInfo {
    display: flex;
    align-items: center;
    gap: 56px;
}
.cardAditionalInfo > div {
    display: flex;
    width: 64px;
}
.timing {
    color: $shadyLady;
    font-family: var(--font-jakarta-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (max-width:1200px) {
    .cardAditionalInfo > span {
        display: none;
    }
    .cardWrapper {
        gap: 8px;
    }
}
@media (max-width:600px) {
    .cardWrapper {
        padding: 8px;
    }
}