.album1 {
display: flex;
gap: 27px;
}
.album2 {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 32px;
    margin-right: 32px;
}
.table {
    margin-top: 32px;
}
.album {
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
}