@import "/app/colors.scss";

/* || container layout */

.containerWrapper > *{
    font-family: var(--font-jakarta-sans);
}

.containerWrapper{
    max-width: 276px;
    width: 100%;
}

.container{
    background-color: #29292E;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
.titleBox{
    display: flex;
    justify-content: flex-start;
    
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 34px;
}

.title > p{
    color: $defaultWhite;
    
}

/* || checkboxes */

.checkboxes{
    gap: 12px;
}

.checkbox{
    display: flex;
    gap: 4px;
}

.checkbox > p {
    color: $defaultWhite;

}

.playlistBox{
    display: flex;
    flex-direction: column;
    gap: 16px;
}